.counter {
    --progress: 0;
    --red-color: 16, 100%, 50%;
    --green-color: 120, 100%, 25%;
    --color: var(--red-color);

    width: 20rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-content: center;
    font-size: 5em;
    font-weight: bold;
    color: var(--color);

    background: conic-gradient(from 0deg, hsl(var(--color)) var(--progress), transparent 0%);
    position: relative;
}

.counter::after {
    box-shadow: 0 0 40px 1px hsl(var(--color), 30%);
    content: attr(data-progress);
    width: 19.5rem;
    border-radius: 50%;
    background: rgb(27, 27, 27);
    display: grid;
    place-content: center;
    aspect-ratio: 1;
}