.header {
    width: 100%;
    background-color: rgba(55, 55, 55, 0.3);
    padding-block: 2rem;
    backdrop-filter: blur(5rem);
}

.navbar {
    width: clamp();
    padding-inline: 10%;
}


.navItems {
    display: flex;
    justify-content: space-between;
    user-select: none;
}