*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color-scheme: dark;
    font-size: 11.25px;
    font-family: "Inter", sans-serif;
}

li {
    list-style: none;
}

input {
    outline: none;
    border: none;
    color: inherit;
}

label {
    font-size: 0.8em;
}

button {
    cursor: pointer;
    outline: none;
    border-radius: 100vh;
    border: none;
    background-color: rgb(65, 65, 65);
    color: inherit;
    padding: 1rem 2rem;
}