*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color-scheme: dark;
    font-size: 11.25px;
    font-family: system-ui, sans-serif;
}

li {
    list-style: none;
}